
/* Global stuff  */ 

html {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
	padding:3rem;
} 


/* Header  */ 

header{ 

	border: solid rgb(0, 129, 0) .3rem ;
	padding: .3rem;
	background-color:#0f9b6c;
}

header h3 {
	background-color: #5fcf80;
}

.headerContainer{
  background-color: #0f9b6c;
} 


.headerH3container {

	padding-top: 2em;
	display:flex;
	background-size: contain;	
	display:flex;
	flex-direction: column;
	justify-content: flex-end;

}

.headerContainer img {
	margin-right: 10;
}



.headerContainer img{
	border: double 7px rgb(9, 182, 9);
	border-radius: 20%;
	margin-left: 8%;
	margin-top: 5%;
	margin-right: 3%;
	
}
.headerContainer a:hover  { 
	border: none;
	border-color: transparent;
}


.headerContainer > h3 {

	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: .5rem;
	border: double green .2rem;
	margin: .5rem .3rem;
	display: flex;
	justify-content: space-around;
}


/*  Top done    */ 

/*  Text below header     */

.mainTextTop { 
	border: #066623 dashed 2px;
	margin-top: 1%;
	padding: 3%;
}


.htmlList p {
	padding-right: 5%;
}

.linksTitle h5 a {
	font-family: Arial ; 
	font-size: large;  
	text-decoration: none;	
}

.linksTitle a {
	text-decoration: none;
}

/*      */

/*List menu Start     */ 



.listMenu , .listMenu nav .listMenu li{ 
	padding: 0rem;
	border: double green .2rem;
	background-color: #5fcf80;
	font-family:Verdana, Geneva, Tahoma, sans-serif;

}


.listMenu ul ul li {
	padding-left: 15%;
	margin-right: 10%;
}
.listMenu ul li {
	display: flex;
	justify-content: center;
}


		/*  TREEHOUSES COLOR  = #5fcf80 */ 
		/*   - NOW IT BELONGS TO US -  */

.htmlList li{
	padding: .4rem;
	border: double green .2rem;
	margin:.35rem; 
	}
.htmlList , .cssList ,.jsList {
	margin-left: -2.75rem;
	display: block;
	justify-content: center;
	align-items: center;
   
}





.htmlList a , .cssList a, .jsList a{
	text-decoration: none;
	color: #000000; 
	padding-top: 2px ;
	padding-bottom: 1px;
	font-style: normal;

}
.htmlList ul a:active{ 
	padding-bottom: 15px;
	margin-right: 10px;

}

.cssList li , .linksTitle{
	
	padding: .2rem;
	border: double green .2rem;
	margin:.35rem; 
}

.jsList li {
	padding: .2rem;
	border: double green .2rem;
	margin:.35rem; }



h5 {
	font-size: large;


}



/* Footer   */ 

.footerContainer .footerContent {
	display: flex;
	flex-direction: column;
	align-items:center;
	border: #066623 dotted .5rem;
}




/* Buttons?   */ 


a:active,a:hover {
	border: 2px solid green ;
	color: #000000; 
	padding: .5rem ;
	font-style: normal;
	padding: auto;
	transition: 500ms;
	margin-bottom: 15% ;

}

p a:active , p a:hover {  

	padding: auto;
	margin: auto;
}

 article.linksTitle a:active , article.linksTitle a:hover {
	border: 25% ;
	padding:.08rem;
	margin:5% ;
	padding-left: 1%;
 }


 .linksTitle , .linksTitle a{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #5fcf80;
	color: black;
	padding: 1%;

 }






/*    ---------------- Header adjustment - ( my code isn't  entirely perfected yet...)       */ 

.headerContainer img {
	padding: .5rem;
	margin: .4rem;
}





/*   Media Queries        */  

@media screen and (min-width: 520px) {


	.headerContainer{
		display: flex;
		flex-direction: row;
		align-content: flex-end;
		justify-content: space-around;
		padding: 5px;
		
	} 


} 





